__pycache__/
/conf/*
!/conf/log4j/
/data/
/deps/
/experiments/*
!/experiments/examples
!/experiments/interface.py
!/experiments/README.md
!/experiments/util.py
/graphs/
/jars/
/logs/
/recordings/*
!/recordings/profiles/
/reservation/
/reservations/
/results/